@page
@{
    ViewData["Title"] = "Home page";
}

<a href="/group/index">分组管理</a>
<br/>
<a href="/GroupPermission/index">分组权限管理</a>
<br />
<a href="/Permissions/index">权限管理</a>
<br />
<a href="/Role/index">角色管理</a>
<br />
<a href="/RolePermission/index">角色权限管理</a>
